<nav>
    <ul class="bg-neutral-800 flex justify-around text-white">
        <li><a routerLinkActive="text-blue-500 bg-neutral-400 text-black px-2 rounded " routerLink="home">Home</a></li>
        <li><a routerLinkActive="text-blue-500 bg-neutral-400 text-black px-2 rounded" routerLink="about">About</a></li>
        <li><a routerLinkActive="text-blue-500 bg-neutral-400 text-black px-2 rounded" routerLink="gallery">Gallery</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer></footer>